.App {
  height: 100vh;

  text-align: center;
}

.body {
  height: 100%;
  font-family: "Helvetica Neue", "Helvetica", "Roboto" sans-serif;
  font-weight: 300;
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto" sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 100px;
  letter-spacing: -2px;
  /* margin-top: 0;
  margin-bottom: 40px; */
}

h2 {
  font-weight: 700;
  font-size: 36px;
}

h3 {
  font-weight: 300;
  font-size: 24px;
  text-transform: uppercase;
}

h4 {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.04em;
  /* margin: 12px; */
}
