.thumbWrapper {
  height: 300px;
  max-width: 300px;
  overflow: hidden;
  padding-bottom: 20px;
}

.thumbnail {
  max-height: 100%;
  width: auto;
  text-align: center;
  border: 1px solid #e5e5e5;
  margin: 0 auto;
}
