.uploadArea {
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  font-size: 10px;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", sans-serif;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.uploadArea:not(.dropZone) {
  min-width: 100px;
}

.uploadArea:not(.dropZone):hover {
  text-decoration: underline;
}

.dropZone {
  box-sizing: border-box;
  display: flex;
  flex: 1 1;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  align-content: center;
  cursor: pointer;
  width: 300px;
  font-size: 60px;
  font-weight: 700;
  color: black;
}
.dropZone:hover {
  -webkit-text-stroke: 1px black;
  color: transparent;
}
