.mainContainer {
  height: 100%;
  padding-top: 100px;
}

.mainTitle {
  -webkit-text-stroke: 1.5px black;
  color: black;
  opacity: 0.05;
}

.header {
  display: flex;
  font-weight: 500;
  justify-content: left;
  align-items: baseline;
  padding-left: 20px;
}

@media (min-width: 768px) {
  .mainContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .mainContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
