.uploadContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.uploadWrapper {
  min-height: 500px;
  height: 100%;
  /* display: grid;
  grid-template-columns: auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px; */
  /* margin: 50px;
  padding: 25px;
  background-color: #f8f8f8; */
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: 50px;
}

.selectHeader button {
  min-width: 100px;
}

.previewCardPlaceholder {
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border 0.2s ease-in-out;
  width: 300px;
}

.hidden,
.saved {
  padding: 10px;
}

.hidden {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.saved {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.savedItem {
  text-align: left;
}

@media (min-width: 1000px) {
  .uploadWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1400px) {
  .uploadWrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
