.lrg,
.med,
.sml {
  font-family: "Anton", sans-serif;
  font-weight: 900;
}

.lrg {
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.med {
  font-size: 1.5em;
}

.sml {
  font-size: 1em;
}
