.container {
  width: 80%;
  display: flex;
  position: absolute;
  top: 5%;
  left: 10%;
  z-index: 2;
  margin: 0;
  padding: 30px;
  border: 1px solid gray;
  border-radius: 5px;
  background: white;
}
.header {
  display: flex;
}

.light {
  -webkit-text-stroke: 1.25px black;
  letter-spacing: 0.1em;
  color: transparent;
}
.body {
  max-height: 100%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.imgWrapper {
  max-width: 40%;
  height: 80%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.img {
  max-width: 100%;
  max-height: 100%;
}
/* 
.text {
  flex: 1;
  padding: 10px;
} */

.textResults {
  height: auto;
  width: 100%;
  overflow-y: scroll;
  margin: 0;
}

.footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
